@charset "UTF-8";

.MainContent {
  position: absolute;

  display: block;
  top: 35%;
  width: 90%;
  height: 50%;
  /*Take out Background for final product*/

  float: left;
  padding: 10px;


}

.MainContent img{
  float: left;
  height: auto;
  width: 35%;
  max-width: 300px;
  max-height: 300px;

}

.MainContent h1 {
  color: white;
  text-align: center;
  width: 50%;
  display: block;
  float: left;
  font-size: 3.5em;
}

.MainContent p {
  line-height: 2em;
  color: white;
  display: block;
  width: 50%;
  float: left;
  margin-left: 5%;
  margin-top: 5%;
}

.MainContent p::first-letter {
  font-weight: bolder;
  font-size: 2.5em;
}
