@charset "utf-8";


html {
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  background-image: url("background01.jpg");
  background-size: .5%;



}

/* main page */

body {
  background-image: url("background.jpg");
  box-shadow: rgba(8, 1, 1, 0.81) 10px 0px 30px,
  					  rgba(8, 1, 1, 0.81) -10px 0px 30px;
  margin: auto;
  width: 90%;
  height: 100%;
 }

 body header img {
  display: block;
  width: 100%;
  border-radius: 0px 0px 0px 0px;

}


/* Nav menu magic */



.horizontalNav a {
  background-color: rgba(125, 104, 104, 0.81);
  display: block;
  float: left;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 20%;
  color: white;
  font-size: 1.2em;
  border-right: 1px solid #bbb;
}

.horizontalNav a:last-child {
  border-right: none;
}

/* Change the link color to #111 (black) on hover */
.horizontalNav a:hover {
  background-color: #111;
}

.horizontalNav a:active {
  background-color: red;
}
